<div class="movie-details">
  <h1>Create Reservation</h1>
  <p class="movie-title">{{ movieTitle }}</p>
  <p class="screening-date">{{ date | date:'yyyy-MM-dd HH:mm' }}</p>
</div>

<div class="app-container">

  <mat-stepper #stepper>
      <mat-step [stepControl]="personalDetailsForm" errorMessage="Name is required.">
        <form [formGroup]="personalDetailsForm" class="form-container" (ngSubmit)="onFormSubmit()">
          <ng-template matStepLabel>Fill out your Details</ng-template>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="First name" formControlName="name" required>
          </mat-form-field>
          <mat-form-field>
              <mat-label>Surname</mat-label>
              <input matInput placeholder="Last name" formControlName="surname" required>
            </mat-form-field>
          <div>
              <button mat-button color="primary" [disabled]="!personalDetailsForm.valid" (click)="stepper.next()">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Choose seats</ng-template>
          <div class="app-list-container" *ngIf="screening$ | async as screening">
              <app-seat-list 
                  [seats]="screening.seats"
                  (selectedSeatsChange)="onSelectedSeatsChange($event)">
              </app-seat-list>
          </div>
          <button mat-button color="primary" [disabled]="!checkIfSeatIsSelected()" matStepperNext (click)="createTickets()">Next</button>
          <button mat-button color="warn" matStepperPrevious>Back</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Set tickets type</ng-template>
        <div class="ticket-description">
          <mat-chip-option selected> Adult 25 PLN</mat-chip-option>
          <mat-chip-option selected color="accent">Child 18 PLN</mat-chip-option>
          <mat-chip-option selected  color="warn">Student 12.50 PLN</mat-chip-option>
        </div>
        <div *ngFor="let seat of selectedSeats">
          <app-ticket 
            [seat]="seat"
            [ticketRequest]="getTicketBySeatId(seat.id)">
          </app-ticket>
        </div>
        <mat-card class="total-price">
          <mat-card-content>Total price: {{ getTotalPrice() | currency:'PLN' }}</mat-card-content>
        </mat-card>
        <div>
          <button mat-button color="primary" [disabled]="!checkIfSeatIsSelected()" (click)="addReservation()">Submit</button>
          <button mat-button color="warn" matStepperPrevious (click)="deleteTickets();">Back</button>
        </div>
      </mat-step>
  </mat-stepper>
</div>