.mat-mdc-form-field {
    margin-top: 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.app-list-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.total-price{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.ticket-description{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    pointer-events: none; 
    font-weight: 500;
}

.movie-details {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .movie-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .screening-date {
    font-size: 16px;
    color: #555;
  }