@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-step-header {
    pointer-events: none !important; 
}

.app-container {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 50px;
}