.mat-card-container {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: whitesmoke;
}
  
.mat-card-container > div {
    display: flex;
    align-items: center; 
}
  
.ticket-info {
    flex-grow: 1;
}
  
.ticketTypeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 300px;
}


.mat-chip-option-ticket{
    width: 120px;
    pointer-events: none;
}

.p-info{
    margin-top: 10px;
}

.div-info{
    margin-top: 10px;
}

.ticket-Type{
    font-size: 20px;
}

.adult-color{
    color: #3f51b5;
}

.adult-color{
    color: #3f51b5;
}

.student-color{
    color: #f44336;
}

.child-color{
    color: #ff4081;
}