<mat-accordion class="ticket-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="ticket-Type"
        [ngClass]="{
          'adult-color': ticket.ticketType === 'ADULT',
          'child-color': ticket.ticketType === 'CHILD',
          'student-color': ticket.ticketType === 'STUDENT'
        }">
          Ticket {{ticket.ticketType}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <p>Row {{ticket.row}}</p>
      <mat-divider></mat-divider>
      <p class="p-info">Number {{ticket.seatNumber}} <p>
  </mat-expansion-panel>
</mat-accordion>
